@model System.Collections.Generic.IEnumerable<GHPCommerce.Ecommerce.Models.CatalogModel>


<nav class="navbar navbar-main navbar-expand-lg border-bottom" id="catalog-comp">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                @foreach (var item in Model)
                {
                    <li class="nav-item" style="font-size: 13px">
                        <a class="nav-link" href="@Url.Action("Index", "Products")?catalogId=+@item.Id">@item.Name</a>

                    </li>
                }


            </ul>
            <ul class="navbar-nav ml-md-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com/" data-toggle="dropdown">English</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">French</a>
                    </div>
                </li>
            </ul>
        </div> <!-- collapse .// -->
    </div> <!-- container .// -->
</nav>