@model PagerViewModel<ProductModel>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <header class="mb-3">
            <div class="form-inline">
                <strong class="mr-md-auto">@Model.Pager.TotalItems Items found </strong>
                <select class="mr-2 form-control">
                    <option>Latest items</option>
                    <option>Trending</option>
                    <option>Most Popular</option>
                    <option>Cheapest</option>
                </select>
                <div class="btn-group">
                    <a href="page-listing-grid.html" class="btn btn-light" data-toggle="tooltip" title="" data-original-title="List view">
                        <i class="fa fa-bars"></i>
                    </a>
                    <a href="page-listing-large.html" class="btn btn-light active" data-toggle="tooltip" title="" data-original-title="Grid view">
                        <i class="fa fa-th"></i>
                    </a>
                </div>
            </div>
        </header>
        @foreach (var item in Model.Items)
        {
            <partial name="_ProductList" model="item"/>
        }
        <partial name="_Pager" model="@Model"/>
        
    </div>
</div>
   
			